@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700&family=Karla:wght@200;300;400;500;600&display=swap');

body {
    font-family: 'Fira Sans', sans-serif;
}

/* --------------------------------------Heading */

.block-divider {
    width: 75px;
    height: 3px;
    border: 0;
    background-color: #7F8888;
}    

.block-divider-white {
    width: 75px;
    height: 3px;
    border: 0;
    background-color: #fafafa;
}

.section-heading {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #7F8888;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}

/* ---------------------------------------------Navbar */

.navbar {
    margin-bottom: 0;
    width: 100%;
    border: 0;
    font-size: 20px;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.navbar-brand {
    padding: 0;
    padding-bottom: 4px;
    margin: 0;
    margin-right: 10px;
}

/* Buttons */

.btn-info {
    font-weight: bold;
    border-radius: 60px;
    width: 130px;
    font-size: 16px;
}

.btn-info:hover,
.btn-info:active,
.btn-info:focus,
.btn-info:active:focus {
    background-color: #fafafa;
    border-color: #151414;
    color: #17a2b8;
}

/* --------------------------------------------Callout */

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}


.callout-container {
    height: 100vh;

    background: url("../img/bg-callout.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: left;

    position: relative;
}

/* Callout Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: #fff;
    font-weight: 300;
    font-size: 60px;
}

.jumbotron .lead {
    color: #fff;
    margin: 40px 0;
    font-weight: 200;
    font-size: 26px;
}

/*--------------------------------------Services */

/* Cards */

.service-card {
    height: 250px;
    width: 400px;
    margin-top: 40px;
}

.card-header {
    font-size: 25px;
    color: #f6f6f6;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.card-text {
    font-size: 18px;
    color: #c3c3c3;
    text-align: justify;
}

.item-center {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-left: 0;
}

/* Background Cards */

.bg-service1 {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('../img/bg-service1.jpg');
    background-size: cover;
}

.bg-service2 {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('../img/bg-service2.jpg');
    background-size: cover;
}

.bg-service3 {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('../img/bg-service3.jpg');
    background-size: cover;
}

.bg-service4 {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('../img/bg-service4.jpg');
    background-size: cover;
}

.bg-service5 {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('../img/bg-service5.jpg');
    background-size: cover;
}

.bg-service6 {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('../img/bg-service6.jpg');
    background-size: cover;
}

/* ---------------------------------Schedule */

.bg-container {
    height: 100vh; 

    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url('https://cdn.pixabay.com/photo/2016/12/04/22/15/fitness-1882721_1280.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    margin-top: 40px;
}

#img-schedule {
    margin-top: 40px;
}

/* ----------------------------------------Form */

.center-form {
    margin: 0 auto;
}

/*--------------------------------------- Footer */

footer {
    background-color: #7F8888;
    color: #fafafa;
    min-height: 100px;
    margin: 0;
    text-align: center;
}

footer div h3 {
    font-family: 'Karla', sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 10px;
}

.social-links li a i {
    width: 32px;
    height: 20px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 6px;
    text-align: center;
    color: #fafafa;
    background-color: #17a2b8;
}

.footer-details {
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
}

/* ---------------------------------------------- Media Queries */

@media only screen and (max-width: 1250px) and (min-width: 744px) {

    .service-card {
        width: 320px;
        height: 200px;
        margin-bottom: 40px;
    }

    .card-header {
        font-size: 18px;
        margin-bottom: 0;
    }

    .card-text {
        font-size: 16px;
    }

    .img-fluid {
        max-width: 80%;
    }

    #img-schedule {
        margin-top: 0;
    }

    .bg-container {
        height: 70vh; 
    }

    .small, small {
        font-size: 90%;
    }
}

@media only screen and (max-width: 768px) {

    .service-card {
        height: 200px;
        width: 345px;
    }

    .card-header {
        font-size: 18px;
    }

    .card-text {
        font-size: 15px;
    }

    .bg-container {
        height: 75vh; 
    }
    
    #schedule {
        padding-left: 0;
    }

}

@media only screen and (max-width: 360px) {

    .jumbotron-header {
        font-size: 40px;
    }

    .jumbotron .lead {
        font-size: 20px;
    }

    .text-muted {
        font-size: 15px;
    } 

    .service-card {
        width: 300px;
    }

}

